# CloudOS — gitignore
# Sensitive / generated / local

# Secrets
.env
*.env.local
**/data/
!**/module.yml

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Generated
cloudos.yml
__pycache__/
*.pyc

# Docker
.docker/
